<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Genius_Inventors">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Genius_Inventors">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main dashboard with category cards -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Category detail activities -->
        <activity android:name=".CommunicationActivity" />
        <activity android:name=".TransportActivity" />
        <activity android:name=".MedicineActivity" />
        <activity android:name=".EnergyActivity" />
        <activity android:name=".ComputingActivity" />
        <activity android:name=".EverydayToolsActivity" />
    </application>

</manifest>